*{
    box-sizing: border-box;
    padding:0%;
    margin:0%;
}
html{
    font-size: 62.5%;
}
.head{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin:0 auto;
    box-shadow: 4px 4px 7px rgb(165, 165, 165);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    background-color:white;
    z-index: 1;
}
.head img{
    width:50%;
}
.lista{
    height: 63%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.lista img{
    margin-right: 5%;
    border-radius:100px;
    width: 30%;
}
.links{
    color:black;
    text-decoration: none;
    font-size: 1.8rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.5%;
    padding-bottom: 3.8%;
    margin-left:0.5%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.boton2{
    border-radius: 9px;
    color:white;
    background-color: #75F06C;
}
.boton2:hover{
    background-color:  #5bb155;
}
.boton1:hover{
    border-radius: 9px;
    background-color: #f3f3f3;
}
.main{
    display: flex;
    justify-content: space-between;
    align-content: center;
    top: 230px;
    width:90%;
    margin:0 auto;
    padding-top: 15%;
}
.log-main .formulario{
    width: 100%;
}
.formulario{    
    border-radius: 20px;
    width:20%;
    margin-left: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    border:1px solid #cecece;
    padding-top: 1%;
    padding-left: 1%;
    height: 350px;
    box-shadow:1px 4px 4px 3px rgb(165, 165, 165); 
}
input{
    border:1px solid #929292;
    border-radius: 10px;
    height: 30px;
    width: 96%;
}
.Ingresar{
    background-color:#75F06C;
    color:white;
    cursor: pointer;
}
.Ingresar:hover{
    background-color: #5bb155;;
}
.forms{
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
    height: 100%;
    margin:0 auto; 
    align-items:center ;
}
.forms h1:nth-child(1){
    grid-row-start: 1;
}
.forms h1:nth-child(2){
    grid-row-start: 3;
}
.forms input:nth-child(1){
    grid-row-start: 2;
}
.forms input:nth-child(2){
    grid-row-start: 2;
}
.forms input:nth-child(3){
    position: relative;
    top:5%;
    grid-row-start: 6;
}
.forms a{
    grid-row-start: 5;
    position:relative;
    justify-self: center;
    align-self: start;
    left:0%;

}
.sac{
    width: 70%;
    display: grid;
    grid-row: 95% 5%;
}
.sac1{
    display: none;
    grid-template-columns: 32% 68%;
    margin-right: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
}
p{
    font-size: 2.5rem;
}
.imgSac{
    height: 100%;
    width: 100%;
}
.textoSac{
    display: grid;
    grid-template-rows: 50% 50%;
}
.textoSac h1{
    align-self: flex-end;
}
.textoSac p{
    align-self: flex-start;
    font-size: 2rem;
}
.imgSac img{
    height: 100%;
}
.navegador{
    align-self: flex-end;
    display: grid;
    grid-template-columns:auto 2% 2% 2% auto;
}
.w3-right{
    justify-self: flex-end;
}
.w3-left, .w3-right, .w3-badge {
    align-self: center;
    font-size: 3rem;
    cursor:pointer;
}
.cirCULITOS{
    display: inline-block;
}
.w3-left:hover,.w3-right:hover{
    color:#696969;
}
.w3-badge:hover {
    background-color: #696969;
}
.w3-badge{
    height:13px;
    width:13px;
    padding:5px;
    border-radius: 15px;
    border: 1px solid rgb(75, 75, 75);
}
.black{
    background-color: black;
    height:16px;
    width:16px;
}
.info{
    position: relative;
    top:270px;
    width:60%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.info h5{
    font-size: 4rem;
    justify-self: center;
}
.info-cont{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 8%;
}
.log-main{
    width: 18%;
    position:relative;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-top: 5%;
}
.div-patita{
    width: 50%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}
.div-patita a{
    width: 100%;
    display: flex;
    justify-content: center;
}
.patita{
    width:40%;
}
.boton-crea{
     height:45px;
     width: 100%;
     position: relative;
     display: flex;
     justify-content: center;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     border:1px solid #cecece;
     box-shadow:1px 4px 4px 3px rgb(165, 165, 165); 
     border-radius: 10px;
     margin-top: 8%;
     justify-self: center;

}
.boton-crea p{
    font-size: 1.8rem;
    align-self: center;
}
.boton-crea:hover{
    background-color: #f3f3f3;
    color:rgb(99, 99, 240);
}
.main-registro{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    width: 20%;
    position: relative;
    margin: 0 auto;
    padding-top: 8%;
}
.form-reg-div{
    padding-top: 0.8%;
    padding-left: 0.8%;
    padding-bottom: 0.8%;
    border:1px solid #cecece;
    box-shadow:1px 4px 4px 3px rgb(165, 165, 165); 
    border-radius: 20px;
    height: 500px;
    justify-content:center ;
}
.form-reg{
    display: grid;
    grid-template-rows: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
    height: 100%;
}
.form-reg h5{
    align-self: flex-end;
}
.form-reg input,select{
    border-radius: 8px;
    height: 35px;
}
.dos-texto-fila{
    display: grid;
    grid-template-columns: 50% 50%;
}
.form-div-dos{
    padding-right: 4%;
}
#gen{
    width: 48%;
}
#fecha{
    width: 48%;
}
.form-div-dos{
    display: flex;
    justify-content: space-between;
}
#submit-form-reg{
    align-self: end;
}
.button-gray{
    background-color: #f3f3f3;
    border-radius: 9px;
}
.main-adop{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top:10%;
    width: 90%;
    height: 500px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.selectores{
    display:block;
    height: 300px;;
}
.search-element{
    width:80%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.search-element input{
    width: 100%;
    border: solid  #63717f 1px;
    color: #63717f;
    padding-left: 20%;
    border-radius: 25px;
}
.flotante{
    position: fixed;
    width: 18%;
}
.botones-selectores{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.search-element .icon{
    position: absolute;
    padding-left:5%;
    padding-top: 2.6%;
    color: #4f5b66;
}
.botones-selectores .list{
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-size: 1.5rem;
    width: 38%;
    height: 20%;
    border: solid #8BD7FF 0.5px;
    background-color: #8BD7FF;
    border-radius: 10px;
    padding-left: 2%;
    margin-top: 5%;
}
.div-blue{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 38%;
    border: solid #8BD7FF 0.5px;
    background-color: #8BD7FF;
    border-radius: 10px;
    margin-top: 5%;
    cursor: pointer;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div-blue p{
    font-size:1.5rem;
}
.boton-c-c{
    background: none;
    border: none;
    cursor: pointer;
}
.check-box-container {
    display: flex;
    position: relative;
    padding-left: 15%;
    margin-bottom: 10%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 2rem;
    user-select: none;
    margin-top: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.check-box-container input {
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 20px;
}
.check-box-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.check-box-container input:checked ~ .checkmark {
    background-color: #8BD7FF;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.check-box-container input:checked ~ .checkmark:after {
    display: block;
}
.check-box-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.carnet{
    display: grid;
    grid-template-rows: 10% 90%;
    padding: 3%;
    padding-bottom: 5%;
    margin-right: 3%;
    border: solid rgb(201, 201, 201) 1px;
    border-radius: 30px;
    box-shadow:2px 5px 5px 4px rgb(133, 133, 133); 
    margin-bottom: 5%;
}
.head-carnet{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.head-carnet h5{
    font-size: 2.5rem;
}
.head-carnet img{
    width: 5%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 30px;
    padding: 1%;
    border: solid rgb(41, 41, 41) 1px;
}
.main-carnet{
    position: relative;
    top: 10%;
    display: grid;
    padding-top: 2%;
    padding-left: 1%;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 10px;
    grid-template-columns: 30% 70%;
}
.main-carnet .img-carnet{
    width: 100%;
}
.img-carnet img{
    width: 100%;
}
.texto-carnet{
    display: grid;
    grid-template-rows: 20% 80%;
}
.info-mas{
    top: 0;
    display: grid;
    grid-template-rows: 90% 10%;
}
.nombre-mas{
    display: flex;
    justify-content: space-between;
}
.descripcion-mas p{
    font-size: 2rem;
    padding-top: 5%;
    padding-left: 2%;
}
.info-mas h5{
    font-size: 3rem;
    margin-left: 3%;
}
.lista-carac{
    height: 63%;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.lista-carac li{
    font-size: 1.5rem;
    color: #6bd164;
}
.conoceme{
    text-decoration: none;
    font-size: 2rem;
    align-self:flex-start;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 5%;
    border-radius: 9px;
    color:white;
    background-color: #75F06C;
}
@media (max-width: 1000px) {
    .log-main{
        width: 25%;
    }
    .main {
        top:100px;
        flex-flow: column wrap;
    }
    .formulario{
        width:50%;
        margin:0 auto;
    }
    .sac{
        padding-top: 30%;
    }
    .sacs{
        display: flex;
        flex-direction: column;
    }
    .w3-badge{
        display: none;
    }
    .head img{
        width:75%;
    }
    .main-registro{
        width: 30%;
    }
    .lista img{
        width: 35%;
    }
    .botones-selectores .list{
        width: 60%;
    }
    .div-blue{
        width: 60%;
    }
    .head-carnet img{
        width: 8%;
    }
    .main-carnet{
        top:3%;
    }
    .descripcion-mas p{
        font-size: 1.8rem;
    }
    .conoceme{
        font-size: 1.8rem;
        padding-top: 2%;
        margin-right: 2%;
        align-self: center;
        padding-bottom: 2%;
    }
    .check-box-container{
        padding-left: 20%;
    }
}
@media (max-width: 800px){
    .log-main{
        width: 35%;
    }
    .head img{
        display: none;
    }
    .media-type1{
        display: flex;
        justify-content: space-between;
        height: 95%;
    }
    .media-type2{
        display: flex;
        justify-content: space-between;
    }
    .main-registro{
        width: 40%;
        padding-top: 15%;
    }
    .botones-selectores .list{
        width: 70%;
    }
    .div-blue{
        width: 70%;
    }
    .selectores-org{
        display: none;
    }
    .main-adop{
        grid-template-columns: 20% 80%;
    }
    .conoceme{
        font-size: 1.3rem;
        align-self: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}
@media (max-width: 510px){
    .log-main{
        width: 50%;
    }
    .formulario{
        width:70%;
        margin:0 auto;
    }
    .main-registro{
        width: 50%;
        padding-top: 15%;
    }
    .botones-selectores .list{
        width: 90%;
    }
    .icon{
        display: none;
    }
    .div-blue{
        width: 90%;
    }
    .form-reg-div{
        margin-top:10%
    }
    .nombre-mas h5{
        font-size: 2.5rem;
    }
    .main-adop{
        grid-template-columns: 20% 80%;
    }
    .conoceme{
        font-size: 1.3rem;
        align-self: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}